:root {}

body {
    max-width: 90%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section {
    display: grid;
    grid-template-columns: repeat(auto-fill, 25rem);
    justify-content: center;
}

header>div,
form {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

form>* {
    margin-left: 0.5rem;
    margin-top: auto;
    margin-bottom: auto;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

footer {
    margin-top: auto;
    margin-bottom: 1rem;
}

h1,
h4 {
    margin-bottom: 1rem;
}

blockquote {
    display: flex;
    width: 25rem;
    padding-right: 1rem;
    flex-direction: column;
    justify-content: space-between;
}

div.desc {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}